<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Record Your Exercises</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="text/javascript" src="https://speechly.github.io/browser-ui/latest/push-to-talk-button.js"></script>
    <script type="text/javascript" src="https://speechly.github.io/browser-ui/latest/big-transcript.js"></script>
    <script type="text/javascript" src="https://speechly.github.io/browser-ui/latest/error-panel.js"></script>
    <script type="text/javascript" src="fuzzyset.js-master/dist/fuzzyset.js"></script>
  </head>
  <style>
    h1 {
      text-align: center;
    }
  </style>
  <body>
    <div id="app">
      <v-app>
        <v-main>
        <v-row>
        <v-col cols="12" offset="4" sm="4">
          <!-- form component -->
          <div>
            <h1>Record Your Activity</h1>
            <v-form
              ref="form"
            >
              <v-text-field
                v-model="activity"
                label="Activity"
                required
              ></v-text-field>

              <v-text-field
                v-model="amount"
                label="Amount"
                required
              ></v-text-field>

              <v-select
                v-model="unit"
                :items="units"
                label="Unit"
                required
              ></v-select>
            
              <v-btn block @click="submit">
                Add Activity
              </v-btn>
            </v-form>

            <input type="text" id="amount" @change="amount_update" style="display:none">
            <input type="text" id="activity" @change="activity_update" style="display:none"> 
            <input type="text" id="unit" @change="unit_update" style="display:none">
            <div class="speechly">
              <push-to-talk-button
                appid="d91be7e6-0674-444d-98c6-f5c2a5e244e1"
                placement="bottom" >
              </push-to-talk-button>
              <error-panel
                placement="bottom" >
              </error-panel>
            </div>
          </div>
          <!-- record table -->
          <div v-if="records.length > 0" style="padding-top: 50px">
            <v-simple-table ref="table" height="300px">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">
                      Exercise Name
                    </th>
                    <th class="text-left">
                      Amount
                    </th>
                    <th class="text-left">
                      Calories
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in records">
                    <td>{{ item.activity }}</td>
                    <td>{{ item.amount }} {{ item.unit }}</td>
                    <td>{{ item.calories }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>

          </div>
        </v-col>
        </v-row>
        </v-main>
      </v-app>
    </div>
    <script src="script.js"></script>
    
    <big-transcript
      placement="top" >
    </big-transcript>
    <script>
      document.getElementsByTagName("push-to-talk-button")[0]
      .addEventListener("speechsegment", (e) => {
        const segment = e.detail;

        // autofill form value
        e.detail.entities.forEach(entity => {
          let element = document.getElementById(entity.type)
          element.value = entity.value
          var event = new Event('change');
          // Dispatch it.
          element.dispatchEvent(event);
        });

        // Handle speech segment and make tentative changes to app state
        console.log("speechsegment message:", segment);

        if (segment.isFinal) {
          // Handle speech segment and make permanent changes to app state
          // Optionally show confirmation
          window.postMessage({ type: "speechhandled", success: true }, "*");
        }
      });
    </script>
  </body>
</html>
